.strikethrough {
    text-decoration: line-through;
    opacity: 0.5;
}

.delete {
    display: none;
    color: red;
    cursor: pointer;
}

li {
    margin: 10px 0;
}

.edit {
    display: none;
}

#goodsList {
    position: relative;
}